<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us Page - FantacyDesigns</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
    *{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right ,white, cyan,white);
    
}
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:wheat ; 

}
 .navbar{
        /* border: 2px solid red; */
        background-color: rgba(46, 43, 43, 0.2);
        color: beige;
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar h2{
        position: relative;
        left: 3%;
    }
    a{
        text-decoration: none;
        color: beige;
        font-weight: bold;
    }
    .navitems{
        width: 50%;
        /* border: 2px solid black; */
        display: flex;
        justify-content:space-evenly;
        transition: all 0.3s ease;
        position: relative;
        right: -2%;
    }
    .navitem a:hover{
        color:  #00b894;
    }
.about-section{
    background: url("https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg?auto=compress&cs=tinysrgb&w=600") no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    height: 100%;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
h1{
  color: #F85370;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
span{
  cursor: pointer;
  font-size: 16px;
text-align: center;
padding: 10px;
  width: 500px;
}
span:hover{
background-image: linear-gradient(to right top, #f85370, #f35470, #ee5570, #e8556f, #e3566f);
color: #fff;
border-radius: 20px;
transition: 0.5s;

}
.active{
  background-image: linear-gradient(to right top, #f85370, #f35470, #ee5570, #e8556f, #e3566f);
  color: #fff;
  border-radius: 20px;


}
</style>
<body>
{{>navbar}}

    <div class="hero">
        <div class="about-section">
            <div class="inner-container">
                <h1>About Us</h1>
                <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error eos totam nisi neque.
                </p>
                <div class="skills">
                    <span class="active">TOURS</span>
                    <span>REVIEWS</span>
                    <span>HOSPITALITY</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>