<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to India</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>

</head>
<style>
::-webkit-scrollbar{
display: none;
}

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Josefin Sans', sans-serif;
    }
    .cont{
        /* border: 2px solid fuchsia; */
        height: 100vh;
        background-image:linear-gradient(rgba(10, 10, 10, 0.558),rgba(212, 192, 192, 0.3)), url('nature1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        animation: changebg 15s infinite linear;

    }
    .navbar{
        /* border: 2px solid red; */
        background-color: rgba(46, 43, 43, 0.2);
        color: beige;
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar h2{
        position: relative;
        left: 3%;
    }
    a{
        text-decoration: none;
        color: beige;
        font-weight: bold;
    }
    .navitems{
        width: 50%;
        /* border: 2px solid black; */
        display: flex;
        justify-content:space-evenly;
        transition: all 0.3s ease;
        position: relative;
        right: -2%;
    }
    .navitem a:hover{
        color:  #00b894;
    }
    .content{
        /* border: 2px solid rgb(243, 241, 246); */
        height: 85% ; 

        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 32px;
        line-height: 5rem;
        letter-spacing: 3px;
        text-shadow: 1px 1px 2px black;
        overflow-y: hidden;
    }
    .content h4{
        margin-bottom: 3%;
    }
    .buttons{
        width: 40%;
        display: flex;
        justify-content: space-between;
        margin-top: 4%;
    }
    .btn{
        width: 40%;
        height: 30px;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 0px 10px 2px ;

    }
    .btn a {
        color: #000;
        padding-top: 2px;
        /* outline: none; */
        /* font-size: 13px; */
        font-weight: bold;
        letter-spacing: 1px;

    }
    #btn1{
        background-color: #fff;
        color: #000;
    }
    #btn1:hover{
        background-color:rgb(98, 94, 94);
    }
    #btn2:hover{
        background-color: rgb(98, 94, 94);
        color: #000;
    }
    #btn2 {
        background-color: #00b894;
        color: white;
    }
    #btn2 a{
        text-shadow: 1px 1px 0px black ;
        color: #fff;
    }
    #navitem1 a{
        color: #00b894;
    }
   .navbar h2{
    animation-duration: 100;
   }
   .change-content:after
   {
    content: '';
    color: #00b894;
    text-shadow: 3px 3px 2px black;
    transition: all 4s ease-in-out 0s;
    animation: changetext 15s infinite linear;
   }

.navbar h2{
    animation-duration: infinite;
}

@keyframes changetext{
    0%{ content: "MUMBAI";}
    20%{ content: "LUCKNOW";}
    40%{ content: "JAIPUR";}
    /* background-image: url('nature2.jpg');} */

    60%{ content: "HIMACHAL";}
    80%{ content: "GOA";}
    100%{ content: "KERELA";}

}
@keyframes changebg{
    0%{  background-image:linear-gradient(rgba(10, 10, 10, 0.558),rgba(212, 192, 192, 0.3)), url('https://images.pexels.com/photos/574324/pexels-photo-574324.jpeg?auto=compress&cs=tinysrgb&w=600'); 
}


    20%{ background-image:linear-gradient(rgba(10, 10, 10, 0.558),rgba(212, 192, 192, 0.3)), url('https://images.pexels.com/photos/6501507/pexels-photo-6501507.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    
}

    40%{  background-image:linear-gradient(rgba(10, 10, 10, 0.558),rgba(212, 192, 192, 0.3)), url('https://images.pexels.com/photos/12931430/pexels-photo-12931430.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
}

    60%{  background-image:linear-gradient(rgba(10, 10, 10, 0.558),rgba(212, 192, 192, 0.3)), url('https://images.pexels.com/photos/12064459/pexels-photo-12064459.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
}

    80%{ background-image:linear-gradient(rgba(10, 10, 10, 0.558),rgba(212, 192, 192, 0.3)), url('https://media.istockphoto.com/id/1368909948/photo/canacona-goa-india-canoe-kayak-for-rent-parked-on-famous-palolem-beach-on-background-tall.jpg?b=1&s=612x612&w=0&k=20&c=GYKtSCZvWcnf7i00KWoLmLPLxA82qFJTiXf8NYD46C0=');
    background-size: cover;
}

    100%{ background-image:linear-gradient(rgba(10, 10, 10, 0.558),rgba(212, 192, 192, 0.3)), url('https://images.pexels.com/photos/8610533/pexels-photo-8610533.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
}
}


</style>
<body>
    <div class="cont">
        <div class="navbar">
            <h2  class="animate__heartBeat">MERA BHARAT</h2>
            <div class="navitems">
                <div class="navitem" id="navitem1"><a href="/">GALLERY</a></div>
                <div class="navitem"><a href="/home">HOME</a></div>
                <div class="navitem"><a href="/about">ABOUT</a></div>
                <div class="navitem"><a href="/contact">CONTACT</a></div>
            </div>
        </div>

        <div class="content">
            <h4>Welcome to India</h4>
            <h1>DO COME & VISIT <span class="change-content"></span></h1>
            <p>"India Once Is Not Enough"</p>

            <div class="buttons">
                <button class="btn" id="btn1"><a href="">SIGN UP</a></button>

                <button class="btn" id="btn2"><a href="">LEARN MORE </a></button>
            </div>
        </div>

    </div>
</body>
</html>