        <div class="navbar">
            <h2  class="animate__heartBeat">MERA BHARAT</h2>
            <div class="navitems">
                <div class="navitem" id="navitem1"><a href="/">GALLERY</a></div>
                <div class="navitem"><a href="/home">HOME</a></div>
                <div class="navitem"><a href="/about">ABOUT</a></div>
                <div class="navitem"><a href="/contact">CONTACT</a></div>
            </div>
        </div>